*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #f2701b;
}

.container{
    width: 1404px;
    max-width: 100%;
    margin: 0 auto;
}

a{
    color: initial;
}